body {
    background: blueviolet;
}

#root {
    background: coral;
}

header {
    background: azure;
}

main {
    background: antiquewhite;
}

footer {
    background: aquamarine;
}

/* style card */
.card {
    height: 300px;
    /*width: 300px;*/
    background: azure;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}