body {
    font-family: "Helvetica Neue", sans-serif;
}

header {
    padding: 20px;
    position: relative;
    background: yellow;
    color: midnightblue;
}

.info {
    margin-top: 20px;
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
}

.score p {
    margin-top: 10px;
}

footer {
    height: 100px;
    overflow: auto;
    text-align: center;
    background: yellow;
    color: midnightblue;
    font-weight: bolder;
    font-size: 2em;
}

footer p {
    margin-top: 20px;
}

/* style card */
main {
    overflow: auto;
}

.wrapper {
    min-width: 800px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.card {
    height: 300px;
    background: white;
    text-align: center;
}

.card:hover {
    box-shadow: 0 0 50px #ffd503;
}

.image {
    height: 80%;
    /* add a gradient background*/
    display: flex;
    border: 5px solid midnightblue;
    justify-content: center;
    align-items: center;
}

.image:hover {
    cursor: pointer;
}

img {
    max-height: 90%;
    max-width: 90%;
}

.name {
    height: 20%;
    display: flex;
    background: midnightblue;
    color: white;
    align-items: center;
    justify-content: center;
}

